body {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.ad-click {
	cursor: pointer;
	z-index: 0;
	position: relative;
}

.ad-close {
	height: 32px;
	width: 32px;
	display: block;
	text-decoration: none;
	position: absolute;
	z-index: 3;
	cursor: pointer;
	top: 0px;
	right: 0;
	background: url(http://discoveryint1.edgeboss.net/download/discoveryint1/ads/close-button.png) 0px 0px no-repeat;
}

#Pushdown_Stage {
	max-height: 250px;
	width: 970px;
}

#Pushdown_Closed {
	background: url(background-970x90.jpg);
	width: 970px;
	height: 90px;
}

#Pushdown_Opened {
	background: url(background-970x250.jpg);
	width: 970px;
	height: 250px;
}

#video-wrapper {
	position: absolute;
	z-index: 2;
	left: 560px;
	top: 10px;
}

.ad-toggle {
	width: 100px;
	display: inline-block;
	text-decoration: none;
	position: absolute;
	z-index: 3;
	cursor: pointer;
	top: 0;
	right: 0;
	padding-right: 10px;
	color: white;
}

/*.ad-opened:before {
	content: 'Close Ad';
}*/

.ad-closed:before {
	content: 'Open Ad';
}
